body{
  background-color: rgb(250, 250, 250);
}
.container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.App {
  text-align: center;
}
.image{
  width: 370px;
  border-top: 50px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image{
    width: 100%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
